 #myProgress {
  width: 100%;
  background-color: grey;
}

#myBar {
  width: 1%;
  height: 30px;
  background-color: green;
}
p {
	color: red;

}
.best:hover{
	
	font-family: comic sans MS;
	color: green;
	


}

.welcome:hover{
	font-family: comic sans MS;
	text-align: center;
	font-family: comic sans MS;
} 
body {
	background-color:red;
}
